.nav-link-text
    position relative
    font-size 1.2rem
    bottom 5px
    padding-right 5px

#the-navbar ul li:hover
    color $hoverGray

#login-or-profile li
    height 60px

.navbar-header 
    height 65px




#the-navbar.navbar.navbar-default
    min-height 65px
    background-color $navBlue
    border-bottom 2px solid $black

#the-navbar li a
    color ghostwhite

#the-navbar li:hover a
    color $hoverGray

#main
    min-height 90vh

#the-footer
    min-height 100px
    margin-top 5px
    background-color $mainColor

#the-footer ul
    padding-left 0

#the-footer li
    list-style-type none
    display inline-block

.navbar-inverse
    border-color $black
