.relative
    position relative
.absolute
    position absolute

.static
    position static


.transition
    transition all .3s

.transition-slow
    transition all .6s

.transparent
    opacity 0

.border-left
    border-left 1px solid black

.border-right
    border-right 1px solid black

.space
    height 30px

.small-space
    height 10px

.box-shadow
    background-color $black
    border-radius 10px
    box-shadow 6px 6px 14px $black
