#lesson-list.re-card
    h2.text-center Course Overview
    .small-space
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Law and Practice
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Contracts and Regulations
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Trust Accounts and Record Keeping
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Current Legal Issues
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Real Estate Closings
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Practical Applications
            .col-sm-3
    hr
    .row
        a(href="/law-and-practice/lesson-list")
            .col-sm-9
                h3 Test Prep
            .col-sm-3

