.re-card
    #badges-container(title="Too close for missiles. I'm switching to guns.") 
        h2.text-center Badges? You need some stinkin' badges.
        include /views/dashboard/badges/last-minute-lesson
        include /views/dashboard/badges/night-owl
        include /views/dashboard/badges/lucky-guess
        include /views/dashboard/badges/quizzmaster
        include /views/dashboard/badges/section-1-expert
        include /views/dashboard/badges/in-the-rhythm


