.space
.space
.learn-sidebar-container.text-center.relative
    a(href=quizUrl): button.btn.btn-primary.btn-lg.transition.lesson-button
        i.absolute.fa.fa-list-alt
        p.absolute Take A Lesson!

