extends /views/lessons/lesson-overview-layout

block content
    .space
    .container
        p: a(href=lessonListUrl) <i class="fa fa-arrow-left"></i> Return to #{section} 
        .re-card
            .row
                include /views/progress-bar
                hr
            .row
                .col-sm-3
                    include /views/lessons/learn-sidebar.pug
                .col-sm-9.border-left
                    h2 Lesson 1 - Elements Of Real And <span data-tooltip="personal-property"> Personal Property</span>
                    .small-space
                    h3 Before You Begin:
                    ul
                        li Read <b>Unit 2: Real Property and the Law</b> in <i>Modern Real Estate Practice</i>
                        li Lesson Length: Approximately 1-hour
                    h3 When you master Lesson 1, you will be able to: 
                    ul
                        li <b>Discuss</b> the concepts of land and ownership rights in real property
                        li <b>Distinguish</b> between real and <span data-tooltip="personal-property"> personal property</span> and the differences in transferring ownership and title
                        li <b>Describe and explain</b> the basic economic and physical characteristics of real property
                        li <b>Discuss</b> the limitations of the real estate professional under the law
        .space
        .re-card
            .row
                .col-sm-9
                    h2.text-center Concepts of Ownership
                    .space   
                    p The bundle of legal rights includes the rights of:
                    ol
                        li <b>Possession</b> — the right to occupy the premises
                        li <b>Control</b> — the right to determine certain interests for others
                        li <b>Enjoyment</b> — possession without harassment or interference
                        li <b>Exclusion</b> — legally refusing to create interests for others 
                        li <b>Disposition</b> — determining how the property will be disposed 
                    .space
                    img(width="90%" src="/images/lessons/lesson1images/bundleofrights.png")
                    .space
                    p The word <i>Title</i> in real estate has two meanings: (1) the right to ownership of land (including the bundle of legal rights), and (2) evidence of ownership, such as a deed. Title refers to the <i>ownership</i> of real estate, not the deed itself. 
                    .space
                    img(width="75%" src="/images/lessons/lesson1images/land-rights.jpg")
                    .space
                    p <span data-tooltip="air-rights"> Air rights</span> may also be sold or leased independent of surface ownership.
                .col-sm-3
                    .re-card
                         p <i class="fa fa-home fa-4x fa-pull-left" style="color: #3da1cc"></i>The ownership of real property, known as the bundle of legal rights, is a concept that comes from old English law.
  
        .space
        .re-card
            .row
                .col-sm-9
                    h2.text-center <span data-tooltip="personal-property"> Personal Property</span> vs Real Property
                    .small-space
                    ul
                        li <span data-tooltip="personal-property"> Personal property</span> is movable; and is sometimes referred to as <span data-tooltip="chattel "> chattels</span>. 
                        .small-space
                        li Real property, real estate, realty, or immovable property is any subset of land that has been legally defined and whose <span data-tooltip="improvement, improvements"> improvements</span> come from human efforts. This includes buildings and roads, among other things. 
                        .small-space
                        li An item of real property may be changed to <span data-tooltip="personal-property"> personal property</span> through <span data-tooltip="severance"> severance</span>. For example, trees are real estate that becomes <span data-tooltip="personal-property"> personal property</span> when an owner cuts them down.
                        .small-space
                        li Construction materials routinely become real estate.
                        .small-space
                    h3 Plants fall into one of two categories:
                    ol 
                        li Trees, perennial shrubbery, and grasses not requiring annual cultivation are real property. 
                        li Crops with a growing season of less than a year (annuals), known as <span data-tooltip="emblements emblement"> emblements</span>, are <span data-tooltip="personal-property"> personal property</span> (fructus industriales).
                    img.center-block(width="75%" src="/images/lessons/lesson1images/cropsweb.jpg")
                    .small-space
                .col-sm-3
                    .re-card
                        p <i class="fa fa-tree fa-4x fa-pull-left" style="color: #25b24d"></i> A tenant is entitled to their crops (emblements). If a tenant loses possession of the land, he or she is still entitled to finish raising the crops and to harvest them.
        .space
        .re-card
            .row
                .col-sm-9 
                    h2.text-center <span data-tooltip="fixture"> Fixture</span> vs <span data-tooltip="trade-fixture"> Trade-Fixture</span>
                    .small-space
                    ul 
                        li A <span data-tooltip="fixture"> fixture</span> is an article that was once <span data-tooltip="personal-property"> personal property</span> but has been so affixed to land or a building that the law now recognizes it as part of the real property, like a light <span data-tooltip="fixture"> fixture</span>, or plumbing.
                        .small-space
                        li A <span data-tooltip="trade-fixture"> trade-fixture</span> is an article owned by a tenant and attached to rented space or a building for use in operating a business, like a pizza oven in a pizzeria, which can be removed by a tenant when they vacate. 
                        .small-space
                    img.center-block(width="75%" src="/images/lessons/lesson1images/pizzaoven.jpeg")
                    p.text-center (Pizza is <span data-tooltip="personal-property"> personal property</span>, and delicious)
                .col-sm-3
                    .re-card
                        p <i style="color: #fff63e" class="fa fa-pie-chart fa-4x fa-pull-left"></i> To avoid confusion about which items are intended to be included in the sale, the inclusion of <span data-tooltip="fixture"> fixtures</span> should be clarified both in the property listing and the sales contract.
        .space
        .re-card
            .row
                .col-sm-9 
                    h2.text-center Characteristics of Real Property
                    .small-space
                    h3 Economic characteristics:
                    ol 
                        li <span data-tooltip="area-preference"> Area preference</span> or situs: Peoples' choices of one area or site over another is one of the most important economic characteristics.
                        li <span data-tooltip="scarcity"> Scarcity</span>: Although the total supply of land is not in short supply, land of a particular quality or location may be limited.
                        li <span data-tooltip="improvement, improvements"> Improvements</span>: They can affect both the improved parcel and surrounding parcels, either favorably or unfavorably.
                        li <span data-tooltip="permanence"> Permanence</span> of investment: <span data-tooltip="improvement, improvements"> Improvements</span> are considered to create fixed investments.
                        
                    .small-space
                    h3 Physical characteristics:
                    ol
                        li <span data-tooltip="immobility"> Immobility</span>: The geographic location of any given parcel of land can never be changed.
                        li <span data-tooltip="indestructibility"> Indestructibility</span>: Land is durable and indestructible, even though <span data-tooltip="erosion"> erosion</span>, flood, volcanic action, and fire may change its topography and value.
                        li <span data-tooltip="uniqueness"> Uniqueness</span>: The law holds that no two parcels of land are exactly the same; this <span data-tooltip="uniqueness"> uniqueness</span> is also known as "nonhomogeneity."
                .col-sm-3
                     .re-card
                        p <i class="fa fa-map fa-4x fa-pull-left" style="color: #b63dcc"></i> Location is one of the most important factors in determining a property's value.
        .space
        .re-card
            .row
                .col-sm-9
                    h2.text-center Laws Affecting Real Estate
                    .small-space
                    h3 Specific areas of law important to real estate practitioners:
                    ol 
                        li Contract Law
                        li General property law
                        li Agency law
                        li Federal, state, and local law and regulations 
                        li Federal regulations
                        li Real estate <span data-tooltip="license"> license</span> law
                    .small-space
                    h3 About real estate <span data-tooltip="license"> license</span> laws:
                    ol
                        li The purpose is to protect the public from fraud, dishonesty, and incompetence in real estate transactions
                        li Licensing is required by all 50 states, District of Columbia, and Canadian provinces
                        li State laws are similar, but often differ in detail
                        li There are specific education requirements for licensing – In Colorado it’s 168 hours of pre-licensing, what you’re doing now! 
                  
                .col-sm-3
                    .re-card
                        p <i class="fa fa-gavel fa-4x fa-pull-left" style="color: #b2253c"></i> Real estate practitioners may not act as attorneys.
        .space
        .re-card
            .row
                .col-sm-9
                    h2 <u>Internet Resources</u>
                    .small-space
                    p <a href="https://www.colorado.gov/pacific/dora/division-real-estate" target="_blank">The Division of Regulatory Agencies</a> – DORA is the government agency that regulates Colorado Real Estate 
                    p Cool things you can do on the DORA website: 
                        ul 
                            li Search the <span data-tooltip="license"> license</span> of another agent – when were they <span data-tooltip="license"> license</span>d, where do they work, and have they faced disciplinary action from the real estate commission 
                            li Renew your <span data-tooltip="license"> license</span> once every 3-years 
                            li Review up to date Colorado contracts and forms
        .space
        .re-card
            .row
                .col-sm-9
                    h2 <u>Word List</u>
                    .small-space
                    p <span data-tooltip="accession "> Accession</span>
                    p <span data-tooltip="air-rights"> Air rights</span>
                    p <span data-tooltip="appurtenance"> Appurtenances</span>
                    p <span data-tooltip="area-preference"> Area Preference</span>
                    p <span data-tooltip="attachment"> Attachment</span>
                    p <span data-tooltip="avulsion"> Avulsion</span>
                    p <span data-tooltip="chattel "> Chattel</span> 
                    p <span data-tooltip="conversion "> Conversion</span> 
                    p <span data-tooltip="covenant "> Covenant</span> 
                    p <span data-tooltip="prior-appropriation"> Doctrine of Prior Appropriation</span>
                    p <span data-tooltip="highest-and-best-use"> Doctrine of Highest and Best Use</span>
                    p <span data-tooltip="easement"> Easement</span>
                    p <span data-tooltip="emblements emblement"> Emblements</span>
                    p <span data-tooltip="erosion"> Erosion</span>
                    p <span data-tooltip="fixture"> Fixtures</span>
                    p <span data-tooltip="fructus-industriales"> Fructus Industriales</span>
                    p <span data-tooltip="hereditament"> Hereditament</span>
                    p <span data-tooltip="heterogeneous"> Heterogeneous</span>
                    p <span data-tooltip="immobility"> Immobility</span> 
                    p <span data-tooltip="improvement, improvements"> Improvement</span> 
                    p <span data-tooltip="indestructibility"> Indestructibility</span>
                    p <span data-tooltip="license"> License</span>
                    p <span data-tooltip="littoral"> Littoral Rights</span>
                    p <span data-tooltip="permanence"> Permanence</span> 
                    p <span data-tooltip="personal-property"> Personal Property</span>
                    p <span data-tooltip="physical-deterioration"> Physical Deterioration</span>
                    p <span data-tooltip="realty"> Realty, Real Property, Real Estate</span>
                    p <span data-tooltip="riparian"> Riparian Rights</span>
                    p <span data-tooltip="severance"> Severance</span>
                    p <span data-tooltip="scarcity"> Scarcity</span>
                    p <span data-tooltip="subsurface-rights"> Subsurface Rights</span>
                    p <span data-tooltip="surface-rights"> Surface Rights</span>
                    p <span data-tooltip="trade-fixture"> Trade-Fixtures</span>
                    p <span data-tooltip="uniqueness"> Uniqueness</span>
