extends layout

block content
    .container
        .space
        h1.text-center 404
        p The page you're looking for could not be found. This application is currently under construction, and many pages have not yet been finished. 

