#the-footer
    .space
    .space
    .container.text-center
        ul
            li
                a(href="/faq") Frequently Asked Questions 
                span  | 
            li 
                a(href="/about") About Learn Real Estate 
                span  | 
            li 
                a(href="/contact-sales") Contact Sales 
                span  | 
            li 
                a(href="/help") Help 
                span  | 
            li 
                a(href="/press") Press 
